{
  "debug": true,
  "GITHUB_TOKEN": "YOUR GITHUB TOKEN",
  "LOG_WEBHOOK_TOKEN": "YOUR WEBHOOK TOKEN",
  "LOG_WEBHOOK_URL": "https://discord.com/api/webhooks/",

  "WEBHOOK_FILE_FINDER_AMOUNT_MAX_URLS_IN_LIST": 500,
  "WEBHOOK_FILE_FINDER_AMOUNT": 1,
  "WEBHOOK_FILE_FINDER_WAIT": 1000,
  "WEBHOOK_FILE_CHECKER_AMOUNT": 10,
  "WEBHOOK_FILE_CHECKER_WAIT": 100,

  "FILEPATH_GITHUB_FILE_WITH_WEBHOOK": "GITHUB_FILE_WITH_WEBHOOK",
  "FILEPATH_GITHUB_FILES_NO_WEBHOOK": "GITHUB_FILES_NO_WEBHOOK"

}