{
  "debug": false,
  "GITHUB_TOKEN": "YOUR GITHUB TOKEN",
  "LOG_WEBHOOK_TOKEN": "YOUR WEBHOOK TOKEN",
  "LOG_WEBHOOK_URL": "https://discord.com/api/webhooks/",

  "RANDOM_REPOSITORY_FINDER_AMOUNT_PER_REQUEST": 100,
  "RANDOM_REPOSITORY_FINDER_AMOUNT_MAX_URLS_IN_LIST": 400,
  "RANDOM_REPOSITORY_FINDER_AMOUNT": 0,
  "RANDOM_REPOSITORY_CHEKCER_AMOUNT": 0,

  "WEBHOOK_REPOSITORY_FINDER_AMOUNT_PER_REQUEST": 200,
  "WEBHOOK_REPOSITORY_FINDER_AMOUNT_MAX_URLS_IN_LIST": 300,
  "WEBHOOK_REPOSITORY_FINDER_AMOUNT": 1,
  "WEBHOOK_REPOSITORY_CHECKER_AMOUNT": 10,

  "FILEPATH_GITHUB_REPOSITORY_WITH_WEBHOOK": "GITHUB_REPOSITORY_WITH_WEBHOOK",
  "FILEPATH_GITHUB_REPOSITORYS_NO_WEBHOOK": "GITHUB_REPOSITORYS_NO_WEBHOOK",
  "LETTERS_NO_RANDOM_REPOSITORY": "acmpst"

}